[submodule "src/github.com/IMQS/logscraper"]
	path = src/github.com/IMQS/logscraper
	url = git@github.com:IMQS/logscraper.git
[submodule "src/gopkg.in/natefinch/lumberjack.v2"]
	path = src/gopkg.in/natefinch/lumberjack.v2
	url = git@github.com:natefinch/lumberjack.git
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = git@github.com:golang/sys
[submodule "src/github.com/IMQS/serviceconfigsgo"]
	path = src/github.com/IMQS/serviceconfigsgo
	url = git@github.com:IMQS/serviceconfigsgo.git
